.Home {

    .home-layout {
        margin-top: 6vh;
        display: flex;
        
        .toolbar {
            width: 5vw;
            display: flex;
            justify-content: center;

            .create-account-icon {
                padding-top: 5vh;
                font-size: 12vmin;
                cursor: pointer;
            }
        }
        
        .accounts-gallery {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 2vmin;
            width: 90vw;
            height: 94vh;
            background: gray;
        }
    }

}