.Home {

    .home-layout {
        margin-top: 10vh;
        display: flex;
        
        .toolbar {
            width: 5vw;
            display: flex;
            justify-content: center;
            background: rgb(246, 242, 242);
            border-right: 0.5vmin rgba(0, 0, 0, 0.1) solid;

           

            .create-account-icon {
                padding-top: 5vh;
                font-size: 12vmin;
                cursor: pointer;
            }
        }
        
        .accounts-gallery {
            background: rgb(246, 242, 242);
            padding: 5vmin;
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            gap: 2vmin;
            width: 95vw;
            height: 90vh;
        }
    }
}
