.Home {

    .home-layout {
        margin-top: 10vh;
        display: flex;
        
        .toolbar {
            width: 5vw;
            display: flex;
            justify-content: center;
            background: rgba(128, 128, 128, 0.2);

            .create-account-icon {
                padding-top: 5vh;
                font-size: 12vmin;
                cursor: pointer;
            }
        }
        
        .accounts-gallery {
            background: rgba(251, 164, 180, 0.2);
            padding: 5vmin;
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            gap: 2vmin;
            width: 95vw;
            height: 90vh;
        }
    }
}
