.Navbar {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(212, 92, 112);

    .leftside {
        display: flex;
        align-items: center;

        .logo {
            margin: 0;
            background-image: url(../../assets/1K4A_key_logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 15vmin;
            height: 10vmin;
        }
    }

    .rightside {
        margin-right: 1vmin;
    }
}