.Navbar {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B94444;
    box-shadow: 0 0.5vmin 1vmin black;

    .leftside {
        display: flex;
        align-items: center;

        .logo {
            background: rgba(0, 0, 0, 0.1);
            margin: 0;
            background-image: url(../../assets/images/1K4A_key_logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 15vmin;
            height: 10vmin;
        }
    }

    .rightside {
        margin-right: 1vmin;
    }
}