.Signup {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 45vw;
    background: pink;

    .signup-view {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .signup-title {
            font-size: 4rem;
        }
    
        .signup-comment {
            font-size: 3vmin;
            height: 3vmin;
        }
    
        .signup-box {
            height: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
            &-inputs {
                height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        .to-login {
            margin-top: 80px;
        }
    }
}