.CreateAccount {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    animation: create-account-animation 1s forwards ease;

    @keyframes create-account-animation {
        to {
            transform: translate(-50%);
        }
    }
    
    .create-account-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.2);
        padding: 2vmin;
        border-radius: 10% 10% 0 0;
        font-size: 3vmin;

        input {
            font-size: 2vmin;
            margin: 1vh 0;
            padding: 1vh 0;
            border-radius: 1vmin;
        }

        .submit-button {
            font-size: 3vmin;
        }
    }
}